/* Botón de búsqueda */
#searchButton {
  bottom: 40px;
  right: 17px;
  width: 60px;
  height: 60px;
  background: #0b8dd8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  border: 2px solid black;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1);
  z-index: 1000;
}

/* Overlay de búsqueda */
#searchOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Contenedor del input con animación */
#searchInputContainer {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 320px;
  max-height: 750px;
  overflow: auto;
  transform: translateY(-30px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

/* Clase para mostrar el overlay */
.show-overlay {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Clase para mostrar el contenedor con animación */
.show-container {
  transform: translateY(0) !important;
  opacity: 1 !important;
}
