.placeholder-image {
  width: 300px; /* Ancho deseado */
  height: 300px; /* Altura deseada */
  background-color: #e2e8f0; /* Color de fondo de la imagen de marcador de posición */
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-container {
  overflow: hidden;
}

.fixed-filter {
  position: fixed;
  left: 10%;
  transform: translateX(-50%);
  border-radius: 10px;
  width: 75%;
  top: 56px;
  right: 0;
  z-index: 20;
  background-color: rgba(243, 244, 246, 0.773);
  backdrop-filter: blur(4px);
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &.visible {
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  .fixed-filter {
    position: fixed;
    left: 0;
    transform: translateX(0);
    border-radius: 10px;
    width: 100%;
    top: 56px;
    right: 0;
    z-index: 20;
    background-color: rgba(243, 244, 246, 0.773);
    backdrop-filter: blur(8px);
    transform: translateY(-100%);
    transition: transform 0.3s ease;

    &.visible {
      transform: translateY(0);
    }
  }
}
