<div class="mt-4">
  <h1 class="mx-5 pl-2 text-black text-2xl font-bold">{{ language === 'es' ? 'Listado de Pokémon' : 'Pokémon List'}}</h1>
  <hr class="my-2">

  <div class="mt-4 mx-5">
    <app-filter [language]="language" (filters)="applyFilters($event)" [isShow]="showFloatingFilter"></app-filter>
  </div>

  <div class="fixed-filter" [class.visible]="showFloatingFilter">
    <app-filter [language]="language" (filters)="applyFilters($event)" [isShow]="showFloatingFilter"></app-filter>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-5 gap-2 sm:m-5 m-20">
    <div *ngFor="let pokemon of filteredPokemon" class="hover:opacity-80">
      <h1 class="bg-gray-200 rounded-t-lg border-t border-x border-black text-center pb-2 text-xl hover:text-blue-500 cursor-pointer">#{{ pokemon.number }}</h1>
      <div class="bg-gray-200 border-x border-black col-span-1 flex justify-center cursor-pointer">
        <img class="w-80"
             routerLinkActive="router-link-active"
             [routerLink]="['/pokedex/show-pokemon', pokemon.name]"
             [src]="pokemon.sprites.iconUrl" alt="" class="w-60 sm:w-30 mr-2"
        >
      </div>
      <h1 class="bg-gray-200 rounded-b-lg border-b
          border-x border-black text-center pb-2
          text-xl hover:text-blue-500 cursor-pointer"
          [routerLink]="['/pokedex/show-pokemon', pokemon.name]"
          routerLinkActive="router-link-active"
      >{{ pokemon.name |translatePokemonName |replaceDash | titlecase }}</h1>
      <div class="flex justify-between mt-2">
        <div class="rounded-md" *ngIf="pokemon.type">
          <img class="w-32"
          [src]="'./assets/icons/types/' + capitalize(pokemon.type) + '.png'">
        </div>
        <div class="rounded-md" *ngIf="pokemon.type2">
          <img class="w-32"
          [src]="'./assets/icons/types/' + capitalize(pokemon.type2) + '.png'">
        </div>
      </div>

    </div>

  </div>

  <div *ngIf="filteredPokemon.length === 0">
    <h1 class="text-center text-2xl">{{ language === 'es' ? 'No hay Pokémon que coincidan con los filtros aplicados.' : 'No Pokémon found that match the applied filters.' }}</h1>
  </div>

</div>
