.placeholder-image {
  width: 300px; /* Ancho deseado */
  height: 300px; /* Altura deseada */
  background-color: #e2e8f0; /* Color de fondo de la imagen de marcador de posición */
  display: flex;
  justify-content: center;
  align-items: center;
}
