.custom-tabs-wrapper {
  width: 100%;
}

.custom-tabs-container {
  flex: 1;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  &.with-arrows {
    margin: 0;
  }

  &.without-arrows {
    margin: 0;
  }
}

.custom-tab {
  cursor: pointer;
  outline: none;
  user-select: none;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &:hover {
    opacity: 0.8;
  }

  &[aria-selected="true"] {
    opacity: 1;
  }
}

.custom-tabs-arrow {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  color: currentColor;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

// Utility class para ocultar scrollbar
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

