<p class="p-4" *ngIf="showKantoDex">
  La Pokédex de <app-hyperlink value="Kanto" type="localization"></app-hyperlink> es la primera Pokédex
  que existió, y reúne a
  todos los Pokémon de la región de Kanto, todos
  los que existían en su momento. Sin embargo, en los videojuegos de la séptima generación Pokémon:
  <app-hyperlink value="Let's Go, Pikachu! y Let's Go, Eevee!"></app-hyperlink>, esta se expande hasta las 153 entradas.
</p>
<p class="p-4" *ngIf="showJohtoDex">La Pokédex de <app-hyperlink value="Johto" type="localization"></app-hyperlink> es la Pokédex con más entradas, 251
  inicialmente en
  <app-hyperlink value="Pokémon Oro, Plata y Cristal" type="game"></app-hyperlink>, y reúne a todos los Pokémon de la región de
  <app-hyperlink value="Kanto" type="localization"></app-hyperlink> y
  <app-hyperlink value="Johto" type="localization"></app-hyperlink>. En
  <app-hyperlink value="Pokémon Oro HeartGold y Plata SoulSilver" type="game"></app-hyperlink>
  fue ampliada añadiendo algunas de las nuevas evoluciones de la cuarta generación que afectaban a los Pokémon ya
  contenidos, sumando 256 Pokémon en total. Estos nuevos Pokémon son
  <app-hyperlink type="pokemon" value="Yanmega"></app-hyperlink>,
  <app-hyperlink type="pokemon" value="Ambipom"></app-hyperlink>,
  <app-hyperlink type="pokemon" value="Lickilicky"></app-hyperlink>,
  <app-hyperlink type="pokemon" value="Tangrowth"></app-hyperlink> y
  <app-hyperlink type="pokemon" value="Mamoswine"></app-hyperlink>.
</p>
<p class="p-4" *ngIf="showHoennDex">La Pokédex de
  <app-hyperlink value="Hoenn" type="localization"></app-hyperlink>, que fue vista por primera vez en
  <app-hyperlink value="Pokémon Rubí, Zafiro y Esmeralda" type="game"></app-hyperlink>,
  cuenta con 202 entradas.

  En los remakes de la
  <app-hyperlink value="sexta generación" type="localization"></app-hyperlink>,
  <app-hyperlink value="Pokémon Rubí Omega y Zafiro Alfa" type="game"></app-hyperlink>,
  la Pokédex se amplia ligeramente para
  incluir las evoluciones y pre-evoluciones de Pokémon de Hoenn introducidas después de los videojuegos originales,
  hasta un total de 211 entradas.
</p>
<p class="p-4" *ngIf="showSinnohDex">La Pokédex de
  <app-hyperlink value="Sinnoh" type="localization"></app-hyperlink> cuenta en
  <app-hyperlink value="Pokémon Diamante, Pokémon Perla" type="game"></app-hyperlink>,
  <app-hyperlink value="Diamante Brillante y Perla Reluciente" type="game"></app-hyperlink>
  con 51 entradas menos que su predecesora, la Pokédex de
  <app-hyperlink value="Hoenn" type="localization"></app-hyperlink>, lo que hace un total de 151 entradas.
  Sin embargo, en
  <app-hyperlink value="Pokémon Platino" type="game"></app-hyperlink>,
  esta se expande hasta las 210.
</p>
<p class="p-4" *ngIf="showUnovaDex">La Pokédex de
  <app-hyperlink value="Teselia" type="localization"></app-hyperlink> en
  <app-hyperlink value="Pokémon Negro y Blanco" type="game"></app-hyperlink> cuenta con 156 entradas, todas
  pertenecientes a nuevos Pokémon.
  Es, por ello, la primera Pokédex que no cuenta con Pokémon de otras generaciones, y por tanto ninguno de sus
  Pokémon tienen relaciones evolutivas con Pokémon anteriores. Este hecho también la convierte en la Pokédex más
  extensa sin contar con Pokémon de otras regiones.
  En
  <app-hyperlink value="Pokémon Negro 2 y Blanco 2" type="game"></app-hyperlink>
  esta Pokédex cambia incluyendo Pokémon de otras regiones y su número de entradas
  asciende a 301 contando a
  <app-hyperlink value="Victini" type="pokemon"></app-hyperlink>
  en la posición #000.
</p>
<p class="p-4" *ngIf="showKalosDex">La Pokédex de
  <app-hyperlink value="Kalos" type="localization"></app-hyperlink> en
  <app-hyperlink value="Pokémon X e Y" type="game"></app-hyperlink> cuenta con 153 entradas en la Zona Centro, 153 en la
  Zona Costa y 151 en la Zona Montaña, lo que da como resultado un total de 457 especies de Pokémon de distintas
  generaciones.
</p>
<p class="p-4" *ngIf="showAlolaDex">La Pokédex de
  <app-hyperlink value="Alola" type="localization"></app-hyperlink> tiene dos versiones:

  La versión de
  <app-hyperlink value="Pokémon Sol y Luna" type="game"></app-hyperlink>
  cuenta con 302 entradas y cada isla de la región tiene su propia Pokédex:

  120 en Melemele
  130 en Akala
  130 en Ula-Ula
  100 en Poni.
  La versión de
  <app-hyperlink value="Pokémon Ultrasol y Ultraluna" type="game"></app-hyperlink>
  aumenta hasta las 403 entradas, contando con 96 Pokémon más de
  ediciones anteriores y 5 Pokémon totalmente nuevos: 4 son Ultraentes y uno es un Pokémon singular.

  150 en Melemele
  160 en Akala
  160 en Ula-Ula
  130 en Poni.
</p>
<p class="p-4" *ngIf="showGalarDex">La Pokédex de
  <app-hyperlink value="Galar" type="localization"></app-hyperlink>, en
  <app-hyperlink value="Pokémon Espada y Pokémon Escudo" type="game"></app-hyperlink>,
  cuenta con 400 entradas:
</p>
<p class="p-4" *ngIf="showHisuiDex">La Pokédex de
  <app-hyperlink value="Hisui" type="localization"></app-hyperlink> en
  <app-hyperlink value="Leyendas Pokémon: Arceus" type="game"></app-hyperlink>
  cuenta con 242 especies:
</p>
<p class="p-4" *ngIf="showPaldeaDex">La Pokédex de
  <app-hyperlink value="Paldea" type="localization"></app-hyperlink>, en
  <app-hyperlink value="Pokémon Escarlata y Pokémon Púrpura" type="game"></app-hyperlink>,
  cuenta con 400 entradas:
</p>
<p class="p-4" *ngIf="showKitakamiDex">La Pokédex de Kitakami, en
  <app-hyperlink value="Pokémon Escarlata y Pokémon Púrpura" type="game"></app-hyperlink>,
  cuenta con 200 entradas, de las que solo 4 son nuevos Pokémon.
</p>
<p class="p-4" *ngIf="showBlueberryDex">La Pokédex de la
  <app-hyperlink value="Academia Arándano" type="localization"></app-hyperlink>, en
  <app-hyperlink value="Pokémon Escarlata y Pokémon Púrpura" type="game"></app-hyperlink>,
  cuenta con 243 entradas, de las que solo 8 son nuevos Pokémon.
</p>
