<div class="p-4">
  <h1 class="text-xl">Crud Creación Datos Pokemon</h1>
  <div class="grid grid-cols-12 gap-2">
    <div class="grid grid-cols-6 gap-1 col-span-6">
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonData()">Crear Pokemon de Kanto</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonDataJotho()">Crear Pokemon de Johto</button>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <h1 class="text-xl">Crud Creación Datos Juegos</h1>
  <div class="grid grid-cols-12 gap-2">
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(1)">Crear Primera Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(2)">Crear Segunda Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(3)">Crear Tercera Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(4)">Crear Cuarta Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(5)">Crear Quinta Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(6)">Crear Sexta Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(7)">Crear Septima Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(8)">Crear Octava Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(9)">Crear Novena Generación</button>
      </div>
  </div>
</div>
