<div class="p-4">
  <h1 class="text-xl">Crud Creación Datos Pokemon</h1>
  <div class="grid grid-cols-12 gap-2">
    <div class="grid grid-cols-6 gap-1 col-span-6">
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(1)">Crear Pokemon de Kanto</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(2)">Crear Pokemon de Johto</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(3)">Crear Pokemon de Hoenn</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(4)">Crear Pokemon de Sinnoh</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(5)">Crear Pokemon de Unova</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(6)">Crear Pokemon de Kalos</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(7)">Crear Pokemon de Alola</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(8)">Crear Pokemon de Galar</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createPokemonByGeneration(9)">Crear Pokemon de Paldea</button>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <h1 class="text-xl">Crud Creación Datos Juegos</h1>
  <div class="grid grid-cols-12 gap-2">
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(1)">Crear Primera Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(2)">Crear Segunda Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(3)">Crear Tercera Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(4)">Crear Cuarta Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(5)">Crear Quinta Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(6)">Crear Sexta Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(7)">Crear Septima Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(8)">Crear Octava Generación</button>
      </div>
      <div>
        <button class="bg-blue-500 rounded-md text-white" (click)="createGenerationGamesData(9)">Crear Novena Generación</button>
      </div>
  </div>
  <hr class="my-4">
  <h1 class="text-xl">Crud Creación Datos Juegos</h1>
  <div class="grid grid-cols-12 gap-2">
    <div>
      <button class="bg-blue-500 rounded-md text-white" (click)="createSpriteGeneration(1)">Crear Srpites Home Kanto</button>
    </div>
  </div>
</div>
