<div class="mt-4 max-w-6xl mx-auto">
  <h1 class="mx-5 pl-2 text-black text-2xl font-bold dark:text-white">
    {{ language === 'es' ? 'Lista de Pokémon según la Pokédex de' : ''}} {{ pokedexName |translatePokedexName }} {{
    language === 'es' ? '' : 'Dex'}}
  </h1>
  <hr class="my-2">

  <div class="bg-gray-100 rounded-md border border-black my-2 dark:bg-gray-800 dark:border-gray-600">
    <app-pokedex-description [pokedexName]="pokedexName"></app-pokedex-description>
  </div>

  <h1 class="mx-5 pl-2 text-black text-2xl font-bold dark:text-white">
    {{ language === 'es' ? 'Lista de Pokémon' : 'Pokémon List'}}
  </h1>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-8 gap-2 pb-15 w-full mt-2">
    <div *ngFor="let pokemon of pokedex" class="sm:hover:opacity-80 cursor-pointer sm:hover:scale-105 transition-all duration-300">
      <div class="pokemon-card bg-white rounded-lg w-full max-w-[180px] h-48 relative overflow-hidden shadow-lg mx-auto">
        <div class="absolute top-0 left-0 w-full h-1/2 bg-red-500"></div>

        <div class="absolute top-1/2 left-0 w-full h-2 bg-black transform -translate-y-1/2"></div>

        <div class="absolute top-1/2 left-1/2 w-6 h-6 bg-white border-2 border-black rounded-full transform -translate-x-1/2 -translate-y-1/2"></div>

        <div class="absolute inset-0 flex flex-col items-center justify-center">
          <h1 class="text-white text-lg font-bold">N° #{{ addZerosToNumber(pokemon.entry_number) }}</h1>
          <div class="cursor-pointer">
            <img class="w-24"
                 [src]="pokemon.imageName" alt=""
            >
          </div>
          <h1 class="text-black text-xl"
          >{{ pokemon.pokemon_species.name |translatePokemonName |replaceDash | titlecase }}</h1>
        </div>

        <div class="absolute bottom-1 left-0 w-full flex justify-center gap-1 p-1">
          <div class="rounded-md w-3/4" *ngIf="pokemon.type">
            <img class="w-full"
            [src]="'./assets/icons/types/' + getGameIconNameForLanguage(pokemon.type, language) + '.png'">
          </div>
          <div class="rounded-md w-3/4" *ngIf="!pokemon.type">
            <div class="w-full"></div>
          </div>
          <div class="rounded-md w-3/4" *ngIf="pokemon.type2">
            <img class="w-full"
            [src]="'./assets/icons/types/' + getGameIconNameForLanguage(pokemon.type2, language) + '.png'">
          </div>
          <div class="rounded-md w-3/4" *ngIf="!pokemon.type2">
            <div class="w-full"></div>
          </div>
        </div>

    </div>
    </div>
  </div>
</div>
