<div class="mt-4  mx-5">
  <h1 class="mx-5 pl-2 text-black text-2xl font-bold">
    {{ language === 'es' ? 'Lista de Pokémon según la Pokédex de' : ''}} {{ pokedexName |translatePokedexName }} {{
    language === 'es' ? '' : 'Dex'}}
  </h1>
  <hr class="my-2">

  <div class="bg-gray-100 rounded-md border border-black my-2">
    <app-pokedex-description [pokedexName]="pokedexName"></app-pokedex-description>
  </div>

  <h1 class="mx-5 pl-2 text-black text-2xl font-bold">
    {{ language === 'es' ? 'Lista de Pokémon' : 'Pokémon List'}}
  </h1>

  <div class="grid grid-cols-3 sm:grid-cols-8 gap-2 my-5">
    <div *ngFor="let pokemon of pokedex" class="hover:opacity-80">
      <h1
        class="bg-gray-200 rounded-t-lg border-t border-x border-black text-center pb-2 text-xl hover:text-blue-500 cursor-pointer">
        #{{ pokemon.entry_number }}
      </h1>
      <div class="bg-gray-200 border-x border-black col-span-1 flex justify-center cursor-pointer">
        <img class="w-80" routerLinkActive="router-link-active" [routerLink]="['/pokedex/show-pokemon', pokemon.name]"
          [src]="'./assets/all-sprites/' + pokemon.imageName + '.png'" alt="" class="w-20 mr-2">
      </div>
      <h1 class="bg-gray-200 rounded-b-lg border-b
          border-x border-black text-center pb-2
          text-xl hover:text-blue-500 cursor-pointer" [routerLink]="['/pokedex/show-pokemon', pokemon.name]"
        routerLinkActive="router-link-active">{{ pokemon.pokemon_species.name |replaceDash | titlecase }}</h1>
    </div>
  </div>
</div>
