<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black">
  <h1 class="font-bold text-xl">{{ language === 'es' ? 'Descripción Pokédex': 'Pokédex Entries' }}</h1>
  <div class="border-black border p-3 rounded-md bg-white">
    <div class="grid grid-cols-6 gap-4 border-b border-black pb-1">
      <span class="text-center font-semibold col-span-1">{{ language === 'es' ? 'Juego': 'Game' }}</span>
      <span class="font-semibold col-span-5">{{ language === 'es' ? 'Descipción': 'Description' }}</span>
    </div>
    <div class="grid grid-cols-4">
      <div *ngFor="let entry of flavorTextEntries" class="col-span-4 grid grid-cols-6 gap-4 border-b border-black py-2">
        <div [ngClass]="getGameVersionColor(entry.version)" class="text-center col-span-1 rounded-md text-white border border-black">
          <span>{{ getGameName(entry.version) }}</span>
        </div>
        <div class="col-span-5">
          <p>{{ entry.flavor_text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
