<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black dark:border-gray-600 dark:bg-gray-800">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl cursor-pointer hover:text-gray-800" (click)="toggleFilters()">{{ language === 'es' ? 'Descripción Pokédex': 'Pokédex Entries' }}</h1>
    <button mat-icon-button (click)="toggleFilters()">
      <mat-icon>{{ filtersVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
  </div>
  <div [@toggleFilters]="filtersVisible ? 'visible' : 'hidden'" class="border-black border p-1 rounded-md bg-white filters-container">
    <div class="sm:grid grid-cols-6 gap-4 border-b border-black pb-1 dark:border-gray-600 dark:bg-gray-800 hidden">
      <span class="text-center font-semibold col-span-2">{{ language === 'es' ? 'Juego': 'Game' }}</span>
      <span class="font-semibold col-span-4">{{ language === 'es' ? 'Descipción': 'Description' }}</span>
    </div>
    <div class="grid grid-cols-6">
      <div *ngFor="let entry of flavorTextEntries" class="col-span-6 grid grid-cols-1 sm:grid-cols-6 gap-4 border-b border-black py-2">
        <div [ngClass]="getGameVersionColor(entry.version)" class="relative col-span-2 rounded-md text-white border border-black flex justify-center items-center">
          <span class="text-center hover:text-blue-500 cursor-pointer">
            <app-hyperlink type="game" [value]="entry.version" [textBlue]="false"></app-hyperlink>
          </span>
          <img class="absolute right-0 top-1/2 transform -translate-y-1/2 w-12 mr-2" [src]="'./assets/pokemon-version-icon-sprite/' + getGameIconGame(entry.version)[0] + '.png'" alt="">
        </div>
        <div class="col-span-4">
          <p>{{ entry.flavor_text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
