/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table {
  width: 100%;
}

.xs-mobile-visible {
  display: none;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: rgba(59, 130, 246, 1);
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (max-width: 530px) {
  .xs-mobile-visible {
    display: inline!important;
  }
}
.bg-grass { background-color: #48bb78; }
.bg-fire { background-color: #f56565; }
.bg-water { background-color: #4299e1; }
.bg-bug { background-color: #2f855a; }
.bg-normal { background-color: #cbd5e0; }
.bg-poison { background-color: #9f7aea; }
.bg-electric { background-color: #ecc94b; }
.bg-ground { background-color: #d69e2e; }
.bg-fairy { background-color: #f687b3; }
.bg-fighting { background-color: #c53030; }
.bg-psychic { background-color: #ed64a6; }
.bg-rock { background-color: #4a5568; }
.bg-ghost { background-color: #6b46c1; }
.bg-ice { background-color: #63b3ed; }
.bg-dragon { background-color: #44337a; }
.bg-dark { background-color: #2d3748; }
.bg-steel { background-color: #718096; }
.bg-flying { background-color: #90cdf4; }
.bg-default { background-color: #a0aec0; } /* Default color */
