<div class="p-4 mt-2 rounded-md border border-black text-center">
  <h1 class="font-bold text-4xl inline-block">
    {{ language === 'es' ? 'Pokémon Edición' : 'Pokémon'}} {{ getGameName(gameInfo.games[0]) }} {{ language === 'es' ? '' : 'Edition'}}
  </h1>
  <h1 class="font-bold text-4xl inline-block" *ngIf="gameInfo.games[1]">
    &nbsp;y {{ language === 'es' ? 'Pokémon Edición' : 'Pokémon'}} {{ getGameName(gameInfo.games[1]) }} {{ language === 'es' ? '' : 'Edition'}}
  </h1>

  <div class="flex justify-center gap-1">
    <div class="flex justify-center">
      <img [src]="gameInfo.urlFrontPage[0]" alt="Imagen 1" class="max-w-full">
    </div>
    <div *ngIf="gameInfo.urlFrontPage[1]" class="flex justify-center">
      <img [src]="gameInfo.urlFrontPage[1]" alt="Imagen 2" class="max-w-full">
    </div>
  </div>

  <div class="flex justify-center mt-1">
    <div class="bg-white rounded-t-md rounded-b-md border border-black p-3">
      <div class="border-t border-b border-black px-0 max-w-screen-sm">
        <h1><span class="font-bold text-center">{{ language === 'es' ? 'Datos': 'Data' }} </span></h1>
      </div>
      <div class="max-w-screen-sm">
        <h1><span class="font-bold text-center">{{ getGenerationName(gameInfo.generation) }} </span></h1>
        <h1><span class="font-bold">{{ language === 'es' ? 'Plataforma': 'Platform' }}: </span>{{gameInfo.platforms}}</h1>
        <h1><span class="font-bold">{{ language === 'es' ? 'Genero': 'Genre' }}: </span>{{gameInfo.genre}}</h1>
        <h1><span class="font-bold">{{ language === 'es' ? 'Jugadores': 'Players' }}: </span>{{gameInfo.players}}</h1>
        <h1><span class="font-bold">{{ language === 'es' ? 'Publicado por': 'Published By' }}: </span>{{gameInfo.publishedBy}}</h1>
        <h1><span class="font-bold">{{ language === 'es' ? 'Desarrollado por': 'Developed By' }}: </span>{{gameInfo.developedBy}}</h1>
      </div>
      <div class="border-t border-b border-black px-0 max-w-screen-sm">
        <h1><span class="font-bold text-center">{{ language === 'es' ? 'Fechas de Lanzamiento': 'Release Dates' }} </span></h1>
      </div>
      <div class="max-w-screen-sm">
        <div *ngFor="let region of groupedReleaseDates">
          <h1><span class="font-bold">{{ language === 'es' ? region.region : region.region }}. </span></h1>
          <div *ngFor="let console of region.consoles">
            <p>{{ console.console }}:</p>
            <div *ngFor="let date of console.dates">
              <p>{{ date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
