<div class="m-4" *ngIf="pokemon && pokemonSpecie && !loading">
  <app-pokemon-info
    [language]="language"
    [pokemon]="pokemon"
    [pokemonSpecie]="pokemonSpecie"
    [pokemonSprite]="pokemonSprite"
    [pokemonSpriteShiny]="pokemonSpriteShiny">
  </app-pokemon-info>

  <div class="mt-8">
    <!-- Pokedex entries  -->
    <app-pokedex-entries [language]="language" [pokemonSpecie]="pokemonSpecie"></app-pokedex-entries>

    <!-- Pokedex numbers -->
    <app-pokedex-numbers [language]="language" [pokemonSpecie]="pokemonSpecie"></app-pokedex-numbers>

    <!-- Pokemon stats -->
    <app-pokemon-stats [language]="language" [pokemonSpecie]="pokemonSpecie" [pokemon]="pokemon"></app-pokemon-stats>

    <!-- Evolution chain -->
    <app-chain-evolution [language]="language" [pokemonSpecie]="pokemonSpecie"></app-chain-evolution>

    <!-- Pokemon varieties -->
    <app-pokemon-varieties [language]="language" [pokemonSpecie]="pokemonSpecie" *ngIf="pokemonSpecie.varieties.length > 1"></app-pokemon-varieties>

    <!-- Pokemon localization -->
    <app-pokemon-localization [language]="language" [pokemonSpecie]="pokemonSpecie" [pokemon]="pokemon"></app-pokemon-localization>

    <!-- Pokemon moves by level -->
    <app-pokemon-moves
      [language]="language"
      [pokemonSpecie]="pokemonSpecie"
      [pokemon]="pokemon"
      [movesWithTypes]="movesWithTypes">
    </app-pokemon-moves>
  </div>

</div>
