<div class="m-4" *ngIf="pokemon && pokemonSpecie">
  <app-pokemon-info
    [language]="language"
    [pokemon]="pokemon"
    [pokemonSpecie]="pokemonSpecie"
    >
  </app-pokemon-info>

  <!-- Sección de descripcion pokedex -->
  <app-pokedex-entries [language]="language" [pokemonSpecie]="pokemonSpecie"></app-pokedex-entries>

  <!-- Sección de numeros de pokedex -->
  <app-pokedex-numbers [language]="language" [pokemonSpecie]="pokemonSpecie"></app-pokedex-numbers>

  <!-- Sección de cadena evolutiva -->
  <app-chain-evolution [language]="language" [pokemonSpecie]="pokemonSpecie"></app-chain-evolution>

  <!-- Sección de movimientos por nivel -->
  <app-pokemon-moves [language]="language" [pokemonSpecie]="pokemonSpecie" [pokemon]="pokemon"></app-pokemon-moves>

  <!-- <div>
    <app-pokeSprites [pokemon]="pokemon"></app-pokeSprites>
  </div> -->

</div>
