<div class="fixed inset-0 bg-black/70 flex items-center justify-center z-99999" *ngIf="showMessage">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-[90%] w-[400px] text-center">
        <div class="space-y-4">
            <h2 class="text-2xl font-semibold text-gray-800">¡Nueva versión disponible!</h2>
            <p class="text-gray-600">Hay una nueva versión de la aplicación disponible.</p>
            <app-ui-button
              variant="primary"
              type="button"
              extraClasses="!bg-blue-600 hover:!bg-blue-700 !text-white !rounded-md !py-3 !px-6"
              (buttonClick)="updateApp()">
                Actualizar ahora
            </app-ui-button>
        </div>
    </div>
</div>
