<div class="rounded-md p-1 border border-gray-200 bg-white/70 dark:border-gray-600 dark:bg-gray-800">
  <div
    class="flex justify-between items-center cursor-pointer"
    role="button"
    tabindex="0"
    (click)="toggleFilters()"
    (keydown.enter)="toggleFilters()"
    (keydown.space)="$event.preventDefault(); toggleFilters()">
    <span class="text-xl cursor-pointer ml-1">{{ language === 'es' ? 'Filtros de búsqueda' : 'Search Filters' }}</span>
    <app-ui-button
      variant="icon"
      type="button"
      extraClasses="cursor-default pointer-events-none"
      [ariaLabel]="language === 'es' ? 'Expandir o contraer filtros' : 'Expand or collapse filters'">
      <mat-icon>{{ filtersVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
    </app-ui-button>
  </div>
  <div [@toggleFilters]="filtersVisible ? 'visible' : 'hidden'" class="filters-container">
    <div class="sticky-wrapper">
      <div class="filter-container">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-0 sm:p-2">
            <div [ngClass]="generationGridClass" class="w-full">
              <app-ui-button
                *ngFor="let gen of generations"
                type="button"
                variant="ghost"
                [extraClasses]="generationButtonExtraClasses(gen)"
                (buttonClick)="toggleGeneration(gen)">
                <div class="flex items-center justify-between w-full relative">
                  <img class="absolute left-2 sm:left-4 top-1/2 -translate-y-1/2 -translate-x-1/2 w-7 h-7 sm:w-8 sm:h-8" [src]="'./assets/pokemon-version-icon-sprite/' + getGameIconForGeneration(gen)[0] + '.png'" alt="">
                  <span class="text-center flex-1 mx-2">{{ language === 'es' ? 'Generación ' : 'Generation ' }} {{ gen }}</span>
                  <img class="absolute right-2 sm:right-4 top-1/2 -translate-y-1/2 translate-x-1/2 w-7 h-7 sm:w-8 sm:h-8" [src]="'./assets/pokemon-version-icon-sprite/' + getGameIconForGeneration(gen)[1] + '.png'" alt="">
                </div>
              </app-ui-button>
            </div>
            <div [ngClass]="formGridClass" class="w-full">
              <app-ui-button
                *ngFor="let form of ['alola', 'galar', 'paldea', 'hisui', 'gmax', 'mega']"
                type="button"
                variant="ghost"
                [extraClasses]="formButtonExtraClasses(form)"
                (buttonClick)="toggleForm(form)">
                <div class="flex items-center justify-between w-full relative">
                  <img class="absolute left-2 sm:left-4 top-1/2 -translate-y-1/2 -translate-x-1/2 w-7 h-7 sm:w-8 sm:h-8" [src]="getGameIconForForm(form)[0]" alt="">
                  <span class="text-center flex-1 mx-2">
                    {{ language === 'es' ?
                    (form === 'alola' ? 'Formas Alola' :
                     form === 'galar' ? 'Formas Galar' :
                     form === 'paldea' ? 'Formas Paldea' :
                     form === 'hisui' ? 'Formas Hisui' :
                     form === 'gmax' ? 'Formas Gigamax' :
                     'Formas Mega') :
                    (form === 'alola' ? 'Alola Forms' :
                     form === 'galar' ? 'Galar Forms' :
                     form === 'paldea' ? 'Paldea Forms' :
                     form === 'hisui' ? 'Hisui Forms' :
                     form === 'gmax' ? 'Gigantamax Forms' :
                     'Mega Forms') }}
                  </span>
                  <img class="absolute right-2 sm:right-4 top-1/2 -translate-y-1/2 translate-x-1/2 w-7 h-7 sm:w-8 sm:h-8" [src]="getGameIconForForm(form)[1]" alt="">
                </div>
              </app-ui-button>
              <div *ngFor="let i of [1,2,3]">
                &nbsp;
              </div>
            </div>
          </div>
          <div class="p-2">
            <app-ui-button variant="primary" type="button" extraClasses="mt-4" (buttonClick)="applyFilters()">
              {{ language === 'es' ? 'Aplicar Filtros' : 'Apply Filters' }}
            </app-ui-button>
          </div>
      </div>
    </div>
  </div>
</div>
