<h1 *ngIf="pokemon?.cries?.latest" class="font-bold flex items-center gap-3 mb-4">
  <span>{{ language === 'es' ? 'Grito Actual' : 'Current Cry' }}:</span>
  <button *ngIf="!isPlayingLatest"
          class="play-button"
          (click)="playAudio('latest')"
          [attr.aria-label]="language === 'es' ? 'Reproducir grito actual' : 'Play current cry'">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf="isPlayingLatest"
          class="pause-button"
          (click)="pauseAudio('latest')"
          [attr.aria-label]="language === 'es' ? 'Pausar grito actual' : 'Pause current cry'">
    <mat-icon>pause</mat-icon>
  </button>
  <audio id="audioPlayerLatest" #audioPlayerLatest (ended)="audioEnded('latest')">
    <source [src]="pokemon?.cries?.latest" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
  </audio>
</h1>

<h1 *ngIf="pokemon?.cries?.legacy" class="font-bold flex items-center gap-3">
  <span>{{ language === 'es' ? 'Grito Antiguo' : 'Previous Scream' }}:</span>
  <button *ngIf="!isPlayingLegacy"
          class="play-button"
          (click)="playAudio('legacy')"
          [attr.aria-label]="language === 'es' ? 'Reproducir grito antiguo' : 'Play previous scream'">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button *ngIf="isPlayingLegacy"
          class="pause-button"
          (click)="pauseAudio('legacy')"
          [attr.aria-label]="language === 'es' ? 'Pausar grito antiguo' : 'Pause previous scream'">
    <mat-icon>pause</mat-icon>
  </button>
  <audio id="audioPlayerLegacy" #audioPlayerLegacy (ended)="audioEnded('legacy')">
    <source [src]="pokemon?.cries?.legacy" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
  </audio>
</h1>
