<div class="flex flex-col min-h-screen">
  <!-- Header with menu button -->
  <header class="sticky top-2 z-30 bg-white/70 dark:bg-gray-800/70 backdrop-blur-md shadow-lg mx-2 mt-2 rounded-lg">
    <div class="flex items-center justify-between px-4 py-2">
      <button (click)="toggleMenu()"
              class="p-2 mt-1 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors"
              [attr.aria-label]="isMenuOpen ? 'Close menu' : 'Open menu'">
        <mat-icon class="text-gray-600 dark:text-gray-300">
          {{ isMenuOpen ? 'menu_open' : 'menu' }}
        </mat-icon>
      </button>

      <a class="flex items-center justify-center flex-grow">
        <img src="/assets/icons/icon-512x512.png" class="h-8 sm:h-10" alt="PoochyDex Logo"/>
        <span class="ml-2 text-2xl font-bold text-gray-800 dark:text-white">PoochyDex</span>
      </a>

      <div class="flex items-center gap-2">
        <button *ngIf="canInstallPwa"
                (click)="installPwa()"
                class="btn-diagonal inline-flex items-center gap-2 px-3 py-1.5 text-md font-medium rounded-full border focus:outline-none focus:ring-2 focus:ring-blue-400/60 active:scale-[.98] transition">
          <mat-icon class="!leading-none">download</mat-icon>
          <span>{{ currentLanguage === 'es' ? 'Instalar App' : 'Install App' }}</span>
        </button>
        <app-theme-toggle></app-theme-toggle>
      </div>

    </div>
  </header>

  <!-- Menu Component -->
  <app-menu [isOpen]="isMenuOpen"
            (close)="closeMenu()"
            [language]="currentLanguage"
            [userData]="currentUser">
  </app-menu>

  <!-- Main Content -->
  <main class="flex-1 overflow-auto" (click)="closeMenu()">
    <router-outlet></router-outlet>
  </main>

  <app-up-button *ngIf="!loading"></app-up-button>
  <app-search-button *ngIf="!loading"></app-search-button>
  <app-footer></app-footer>
  <app-loading-spinner [loading]="loading"></app-loading-spinner>
  <app-new-update-view></app-new-update-view>
  <app-error-message-view></app-error-message-view>
</div>
