/* Ocultar y mostrar el menú lateral */
@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  .menu-hidden {
    display: none;
  }

  .menu-visible {
    display: flex;
  }
}

/* Transiciones */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.p-2 {
  padding: 0.5rem;
}
.bg-blue-600 {
  background-color: #2563eb;
}
.text-white {
  color: #ffffff;
}
.rounded-full {
  border-radius: 9999px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
}

/* Estilo en app-menu.component.css */
.hidden {
  display: none;
}

.block {
  display: block;
}

.absolute {
  position: absolute;
}

/* Estilo para ajustar el botón de cerrar en pantallas grandes */
.sm\\:relative {
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
}

#app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.min-h-screen {
  min-height: 100vh;
}
