<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black">
  <h1 class="font-bold text-xl">{{ language === 'es' ? 'Numeros de Pokédex': 'Pokédex Numbers' }}</h1>
  <div class="grid sm:grid-cols-4">
    <div class="col-span-1" *ngFor="let dex of pokemonSpecie.pokedex_numbers">
      <span class="font-bold">{{ language === 'es' ? 'Número': 'Number' }}: </span>
      <span [routerLink]="['/pokedex/show-pokedex', dex.pokedex.name]"
        class="cursor-pointer hover:text-blue-500">
        {{ dex.entry_number }} - {{ dex.pokedex.name |translatePokedexName |replaceDash |titlecase}}
      </span>
    </div>
  </div>
</div>
