<div [ngClass]="backgroundColor" class=" p-4 rounded-md mt-2 col-span-1 border border-black" *ngIf="pokemonVarieties">
  <h1 class="font-bold text-xl">{{ language === 'es' ? 'Formas': 'Varieties' }}</h1>

  <div class="flex flex-wrap justify-center space-x-8 evolution-container" >
    <ng-container *ngFor="let variety of pokemonVarieties">
      <div class="flex flex-col items-center evolution-step">
        <p class="cursor-pointer hover:text-blue-500" (click)="goToPokemonPage(variety.name)">
          {{ variety.name |translatePokemonName |replaceDash | titlecase }}
        </p>
        <img class="w-20 sm:w-48 cursor-pointer hover:opacity-80 evolution-image"
             (click)="goToPokemonPage(variety.name)"
             [src]="'./assets/all-home-sprites/' + variety.imageName + '.png'">
      </div>
    </ng-container>
  </div>

</div>
