<div [ngClass]="backgroundColor" class=" p-4 rounded-md mt-2 col-span-1 border border-black" *ngIf="pokemonVarieties">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl cursor-pointer hover:text-gray-800" (click)="toggleFilters()">{{ language === 'es' ? 'Formas': 'Varieties' }}</h1>

    <button mat-icon-button (click)="toggleFilters()">
      <mat-icon>{{ filtersVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
  </div>
  <div [@toggleFilters]="filtersVisible ? 'visible' : 'hidden'" class="flex flex-wrap justify-center space-x-8 evolution-container" >
    <ng-container *ngFor="let variety of pokemonVarieties">
      <div class="flex flex-col items-center evolution-step">
        <p class="cursor-pointer hover:text-blue-500" (click)="goToPokemonPage(variety.name)">
          {{ variety.name |translatePokemonName |replaceDash | titlecase }}
        </p>
        <img class="w-20 sm:w-48 cursor-pointer hover:opacity-80 evolution-image"
             (click)="goToPokemonPage(variety.name)"
             [src]="variety.sprite">
      </div>
    </ng-container>
  </div>

</div>
