
<aside [ngClass]="{'translate-x-0': isOpen, 'sm:-translate-x-60': !isOpen, '-translate-x-full': !isOpen}" class="menu fixed top-0 left-0 w-64 h-screen bg-gray-50 dark:bg-gray-800 transition-transform duration-300 z-40 flex flex-col">
  <div class="h-full px-3 py-4 overflow-y-auto flex-grow">
    <!-- Botón para cerrar el menú -->
    <!-- <button *ngIf="isOpen" (click)="closeMenu()" class="absolute top-4 right-4 p-2 bg-red-600 text-white rounded-full">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button> -->
    <a href="" class="flex items-center ps-2.5 h-13">
      <img src="/assets/icons/rotom-dex/RotomDex.png" class="h-6 me-1 sm:h-10"/>
      <span class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white w-full">PoochyDex</span>
    </a>

    <hr class="my-4 dark:bg-gray-700 rounded-md">

    <ul class="space-y-2 font-medium">
      <li>
        <a href="/pokedex/list" class="flex items-center p-2 text-gray-900 rounded-lg
          dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:bg-gray-700 group">
          <img class="w-10" src="/assets/icons/roza-pokedex/icon-72x45.png" alt="">
          <span class="ms-3">{{ language === 'es' ? 'Pokédex Nacional' : 'National Dex'}}</span>
        </a>
      </li>
      <li>
        <a href="/game/list-games" class="flex items-center p-2 text-gray-900 rounded-lg
        dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:bg-gray-700 group">
          <img class="w-8" src="/assets/icons/consoles/nintendo-ds.png" alt="">
          <span class="ms-3">{{ language === 'es' ? 'Lista de Juegos' : 'Game List'}}</span>
        </a>
      </li>
      <!-- Más opciones aquí -->
    </ul>
  </div>
  <!-- Configuración al final -->
  <div class="px-3 py-4">
    <ul class="space-y-2 font-medium">
      <li>
        <a href="/auth/login" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:bg-gray-700 group">
          <img class="w-8" src="/assets/icons/consoles/card-trainer.png" alt="" />
          <span class="ms-3">{{ language === 'es' ? 'Iniciar Sesión' : 'Login' }}</span>
        </a>
      </li>
      <li>
        <a class="flex items-center p-2 text-gray-900 rounded-lg
        dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:bg-gray-700 group">
          <mat-icon>settings</mat-icon>
          <span class="ms-3">{{ language === 'es' ? 'Configuraciones' : 'Settings'}}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
