<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-xl cursor-pointer" (click)="toggleFilters()">{{ language === 'es' ? 'Cadena Evolutiva' : 'Evolution Chain' }}</h1>

    <button mat-icon-button (click)="toggleFilters()">
      <mat-icon>{{ filtersVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
  </div>

  <div [@toggleFilters]="filtersVisible ? 'visible' : 'hidden'" class="flex flex-wrap justify-center space-x-8 evolution-container" *ngIf="evolutionChain">
    <div class="flex flex-col items-center evolution-step">
      <p class="cursor-pointer hover:text-blue-500" (click)="goToPokemonPage(evolutionChain.chain.species.name)">
        {{ evolutionChain.chain.species.name |translatePokemonName |replaceDash | titlecase }}
      </p>
      <img class="w-20 sm:w-48 cursor-pointer hover:opacity-80 evolution-image" *ngIf="evolutionChain.chain?.imageName"
           (click)="goToPokemonPage(evolutionChain.chain.species.name)"
           [src]="evolutionChain.chain.imageName">
    </div>
    <ng-container *ngFor="let stage of evolutionChain.chain.evolves_to">
      <div class="flex flex-col items-center evolution-step">
        <p class="cursor-pointer hover:text-blue-500" (click)="goToPokemonPage(stage.species.name)">
          {{ stage.species.name |translatePokemonName |replaceDash | titlecase }}
        </p>
        <img class="w-20 sm:w-48 cursor-pointer hover:opacity-80 evolution-image" *ngIf="stage?.imageName"
             (click)="goToPokemonPage(stage.species.name)"
             [src]="pokemonSprite">
        <p *ngIf="stage.evolution_details[0]?.trigger">
          {{ stage.evolution_details[stage.evolution_details.length - 1]?.trigger.name |translateEvoMethod |replaceDash |titlecase}}
          <span *ngIf="stage.evolution_details[0]?.time_of_day">
            {{ language === 'es' ? 'durante': 'in' }}
            {{ stage.evolution_details[0]?.time_of_day |translateEvoMethod |replaceDash |titlecase}}
          </span>
        </p>
        <p class="text-md" *ngIf="stage.evolution_details[0]?.min_happiness">
          {{ language === 'es' ? 'Con una amistad de': 'With a' }}
          {{ stage.evolution_details[0]?.min_happiness }}
        </p>
        <p class="text-md" *ngIf="stage.evolution_details[0]?.known_move_type">
          {{ language === 'es' ? 'Conociendo un movimiento tipo': 'Knowing a' }}
          {{ stage.evolution_details[0]?.known_move_type.name |translateEvoMethod |replaceDash |titlecase}}
          {{ language === 'en' ? 'type move': '' }}
        </p>
        <p class="text-md" *ngIf="stage.evolution_details[0]?.min_level">
          {{ language === 'es' ? 'A nivel': 'At level' }}
          {{ stage.evolution_details[0]?.min_level }}
        </p>
        <p class="hover:text-blue-500 cursor-pointer text-md" *ngIf="stage && stage.evolution_details && stage.evolution_details.length > 0">
          {{ stage.evolution_details[stage.evolution_details.length - 1]?.item?.name |translateEvoMethod  |titlecase }}
        </p>
        <p class="hover:text-blue-500 cursor-pointer text-md" *ngIf="stage?.evolution_details[0]?.turn_upside_down">
          {{ language === 'es' ? 'Con la consola al revés' : 'With the console upside down' }}
        </p>
        <p class="hover:text-blue-500 cursor-pointer text-md" *ngIf="stage?.evolution_details[0]?.trade_species">
          {{ language === 'es' ? 'por': 'with' }}
          {{ stage?.evolution_details[0]?.trade_species.name |titlecase}}
          <!-- <img [src]="'./assets/all-home-sprites/' + stage.imageName + '.png'" alt=""> -->
        </p>
      </div>
      <ng-container *ngFor="let stage2 of stage.evolves_to">
        <div class="flex flex-col items-center evolution-step">
          <p class="cursor-pointer hover:text-blue-500" (click)="goToPokemonPage(stage2.species.name)">
            {{ stage2.species.name |translatePokemonName |replaceDash | titlecase }}
          </p>
          <img class="w-20 sm:w-48 cursor-pointer hover:opacity-80 evolution-image" *ngIf="stage2?.imageName"
               (click)="goToPokemonPage(stage2.species.name)"
               [src]="stage2.imageName">
          <p *ngIf="stage2.evolution_details[0]?.trigger">
            {{ stage2.evolution_details[0]?.trigger.name |translateEvoMethod |replaceDash |titlecase}}
            <span *ngIf="stage2.evolution_details[0]?.time_of_day">
              {{ language === 'es' ? 'durante': 'in' }}
              {{ stage2.evolution_details[0]?.time_of_day |translateEvoMethod |replaceDash |titlecase}}
            </span>
          </p>
          <p class="text-md" *ngIf="stage2.evolution_details[0]?.min_happiness">
            {{ language === 'es' ? 'Con una amistad de': 'With a' }}
            {{ stage2.evolution_details[0]?.min_happiness }}
            {{ language === 'es' ? 'puntos': 'point friendship' }}
          </p>
          <p class="text-md" *ngIf="stage2.evolution_details[0]?.known_move_type">
            {{ language === 'es' ? 'Conociendo un movimiento tipo': 'Knowing a' }}
            {{ stage2.evolution_details[0]?.known_move_type.name |translateEvoMethod |replaceDash |titlecase}} move
            {{ language === 'en' ? 'type move': '' }}
          </p>
          <p class="text-md" *ngIf="stage2.evolution_details[0]?.min_level">
            {{ language === 'es' ? 'A nivel': 'At level' }}
            {{ stage2.evolution_details[0]?.min_level }}
          </p>
          <p class="hover:text-blue-500 cursor-pointer text-md" *ngIf="stage2 && stage2.evolution_details && stage2.evolution_details.length > 0">
            {{ stage2.evolution_details[stage.evolution_details.length - 1]?.item?.name |translateEvoMethod  |titlecase }}
          </p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
