<div class="m-4" *ngIf="gameName">

<app-game-info [language]="language" [gameInfo]="gameInfo"></app-game-info>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Resumen juego' : 'Game resume'}}
  </h1>
  <p>
    {{gameInfo.summary}}
  </p>
</div>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Historia del juego' : 'Game History'}}
  </h1>
  <p>
   {{gameInfo.gameHistory}}
  </p>
</div>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Novedades' : 'New things'}}
  </h1>

</div>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Personajes' : 'Characters'}}
  </h1>
  <img [src]="gameInfo.characters" alt="Imagen 1" class="w-56">

</div>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Pokémon Iniciales' : 'Pokémon Starters'}}
  </h1>

</div>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Pokémon Legendarios y Singulares' : 'Legendarie and Mithical Pokémon'}}
  </h1>

</div>

<div class="p-4 mt-2 rounded-md border border-black">
  <h1 class="font-bold text-xl">
    {{ language === 'es' ? 'Nuevas Habilidades' : 'New Abilites'}}
  </h1>

</div>
</div>
