<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black sm:block hidden">
  <h1 class="font-bold text-xl">{{ language === 'es' ? 'Movimientos Pokémon': 'Pokémon Moves' }}</h1>
  <h1 class="font-bold">{{ language === 'es' ? 'Subiendo de nivel': 'By Level Up' }}</h1>

  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label> &nbsp;
  <select id="versionGroup" [(ngModel)]="levelUpSelectedVersionGroup" (change)="levelUpChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>

  <div class="bg-white p-3 border-black border rounded-md">
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2">
      <span class="font-semibold">{{ language === 'es' ? 'Nivel': 'Level' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento': 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego': 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo': 'Type' }}</span>
    </div>
    <div *ngFor="let pokeMove of filteredMoves" class="my-">
    <div *ngFor="let detail of pokeMove.move.version_group_details">
      <div class="grid grid-cols-4 gap-2 mb-1">
        <div class="col-span-1">
          {{ detail.level_learned_at }}
        </div>
        <div class="col-span-1">
          {{ pokeMove.moveName }}
        </div>
        <div class="grid grid-cols-3">
          <div class="col-span-2 rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(detail.version_group.name)">
            {{ getGameName(detail.version_group.name) }}
          </div>
        </div>
        <div *ngFor="let type of pokeMove.types">
          <div class="grid grid-cols-3">
            <div [ngClass]="getColorClassByLanguageAndType(type.typeName, type.language)" class="border border-black rounded-md px-2 text-white text-center">
              {{ type.typeName | titlecase }}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black sm:hidden block">
  <h1 class="font-bold text-xl">{{ language === 'es' ? 'Movimientos Pokémon': 'Pokémon Moves' }}</h1>
  <h1 class="font-bold">{{ language === 'es' ? 'Subiendo de nivel': 'By Level Up' }}</h1>

  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label>&nbsp;
  <select id="versionGroup" [(ngModel)]="levelUpSelectedVersionGroup" (change)="levelUpChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>

  <div class="bg-white p-3 border-black border rounded-md">
    <!-- Encabezado para pantallas grandes -->
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2 move-header">
      <span class="font-semibold">{{ language === 'es' ? 'Nivel': 'Level' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento': 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego': 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo': 'Type' }}</span>
    </div>

    <!-- Fila de movimientos -->
    <div *ngFor="let pokeMove of filteredMoves" class="move-row">
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Nivel': 'Level' }}</span>
        <span class="move-value">{{ getLevelLearnedAt(pokeMove) }}</span>
      </div>
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Movimiento': 'Move' }}</span>
        <span class="move-value">{{ pokeMove.moveName }}</span>
      </div>
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Juego': 'Game' }}</span>
        <span class="game-version rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(getVersionGroupName(pokeMove))">
          {{ getGameName(getVersionGroupName(pokeMove)) }}
        </span>
      </div>
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Tipo': 'Type' }}</span>
        <span class="type border border-black rounded-md px-2 text-white text-center" [ngClass]="getColorClassByLanguageAndType(getTypeName(pokeMove), language)">
          {{ getTypeName(pokeMove) | titlecase }}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Sección de movimientos por máquina -->
<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black sm:block hidden">
  <h1 class="font-bold">{{ language === 'es' ? 'Mediante Máquina Tecnica' : 'By Technical Machine' }}</h1>
  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label> &nbsp;
  <select id="versionGroup" [(ngModel)]="machineSelectedVersionGroup" (change)="machineChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>
  <div class="bg-white p-3 border-black border rounded-md">
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2">
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
    </div>
    <div *ngFor="let pokeMove of filteredMovesByMachine">
      <div class="grid grid-cols-4 gap-2 mb-1">
        <div class="col-span-1">{{ pokeMove.moveName }}</div>
        <div class="grid grid-cols-3">
          <div class="col-span-2 rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(pokeMove.machineDetail?.version_group.name)">
            {{ getGameName(pokeMove.machineDetail?.version_group.name) }}
          </div>
        </div>
        <div *ngFor="let type of pokeMove.types">
          <div class="grid grid-cols-3">
            <div [ngClass]="getColorClassByLanguageAndType(type.typeName, type.language)" class="border border-black rounded-md px-2 text-white text-center">
              {{ type.typeName | titlecase }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black sm:hidden block">
  <h1 class="font-bold">{{ language === 'es' ? 'Mediante Máquina Tecnica' : 'By Technical Machine' }}</h1>
  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label> &nbsp;
  <select id="versionGroup" [(ngModel)]="machineSelectedVersionGroup" (change)="machineChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>

  <div class="bg-white p-3 border-black border rounded-md">
    <!-- Encabezado para pantallas grandes -->
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2 move-header">
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento': 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego': 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo': 'Type' }}</span>
    </div>

    <!-- Fila de movimientos -->
    <div *ngFor="let pokeMove of filteredMovesByMachine" class="move-row">
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Movimiento': 'Move' }}</span>
        <span class="move-value">{{ pokeMove.moveName }}</span>
      </div>
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Juego': 'Game' }}</span>
        <span class="game-version rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(pokeMove.machineDetail?.version_group.name)">
          {{ getGameName(pokeMove.machineDetail?.version_group.name) }}
        </span>
      </div>
      <div class="move-detail">
        <span class="move-label">{{ language === 'es' ? 'Tipo': 'Type' }}</span>
        <span class="type border border-black rounded-md px-2 text-white text-center" [ngClass]="getColorClassByLanguageAndType(getTypeName(pokeMove), language)">
          {{ getTypeName(pokeMove) | titlecase }}
        </span>
      </div>
    </div>
  </div>
</div>


<!-- Sección de movimientos por tutor -->
<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black sm:block hidden">
  <h1 class="font-bold">{{ language === 'es' ? 'Mediante tutor' : 'By Tutor' }}</h1>
  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label> &nbsp;
  <select id="versionGroup" [(ngModel)]="tutorSelectedVersionGroup" (change)="tutorChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>
  <div class="bg-white p-3 border-black border rounded-md">
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2">
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
    </div>
    <div *ngFor="let pokeMove of filteredMovesByTutor">
      <div *ngFor="let detail of pokeMove.move.version_group_details">
        <div class="grid grid-cols-4 gap-2 mb-1">
          <div class="col-span-1">{{ pokeMove.moveName }}</div>
          <div class="grid grid-cols-3">
            <div class="col-span-2 rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(detail.version_group.name)">
              {{ getGameName(detail.version_group.name) }}
            </div>
          </div>
          <div *ngFor="let type of pokeMove.types">
            <div class="grid grid-cols-3">
              <div [ngClass]="getColorClassByLanguageAndType(type.typeName, type.language)" class="border border-black rounded-md px-2 text-white text-center">
                {{ type.typeName | titlecase }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black tutor-container block sm:hidden">
  <h1 class="font-bold">{{ language === 'es' ? 'Mediante tutor' : 'By Tutor' }}</h1>
  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label>&nbsp;
  <select id="versionGroup" [(ngModel)]="tutorSelectedVersionGroup" (change)="tutorChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>

  <div class="bg-white p-3 border-black border rounded-md">
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2">
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
    </div>

    <!-- Fila de movimientos mediante tutor -->
    <div *ngFor="let pokeMove of filteredMovesByTutor" >
      <div *ngFor="let detail of pokeMove.move.version_group_details" class="move-row">
        <div class="move-detail">
          <span class="move-label">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
          <span class="move-value">{{ pokeMove.moveName }}</span>
        </div>
        <div class="move-detail">
          <span class="move-label">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
          <span class="game-version rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(detail.version_group.name)">
            {{ getGameName(detail.version_group.name) }}
          </span>
        </div>
        <div class="move-detail">
          <span class="move-label">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
          <span class="type border border-black rounded-md px-2 text-white text-center" [ngClass]="getColorClassByLanguageAndType(getTypeName(pokeMove), language)">
          {{ getTypeName(pokeMove) | titlecase }}
        </span>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Sección de movimientos por huevo -->
<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black sm:block hidden">
  <h1 class="font-bold">{{ language === 'es' ? 'Mediante Huevo' : 'By Egg' }}</h1>
  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label> &nbsp;
  <select id="versionGroup" [(ngModel)]="eggSelectedVersionGroup" (change)="eggChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>
  <div class="bg-white p-3 border-black border rounded-md">
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2">
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
    </div>
    <div *ngFor="let pokeMove of filteredMovesByEgg">
      <div *ngFor="let detail of pokeMove.move.version_group_details">
        <div class="grid grid-cols-4 gap-2 mb-1">
          <div class="col-span-1">{{ pokeMove.moveName }}</div>
          <div class="grid grid-cols-3">
            <div class="col-span-2 rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(detail.version_group.name)">
              {{ getGameName(detail.version_group.name) }}
            </div>
          </div>
          <div *ngFor="let type of pokeMove.types">
            <div class="grid grid-cols-3">
              <div [ngClass]="getColorClassByLanguageAndType(type.typeName, type.language)" class="border border-black rounded-md px-2 text-white text-center">
                {{ type.typeName | titlecase }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="backgroundColor" class="p-4 rounded-md mt-2 border border-black tutor-container block sm:hidden">
  <h1 class="font-bold">{{ language === 'es' ? 'Mediante Huevo' : 'By Egg' }}</h1>
  <label for="versionGroup">{{ language === 'es' ? 'Seleccionar Juego': 'Select Game' }}</label> &nbsp;
  <select id="versionGroup" [(ngModel)]="eggSelectedVersionGroup" (change)="eggChangeGame($event)">
    <option *ngFor="let group of versionGroups" [value]="group">{{ group }}</option>
  </select>

  <div class="bg-white p-3 border-black border rounded-md">
    <div class="grid grid-cols-4 gap-4 border-b border-black pb-1 mb-2">
      <span class="font-semibold">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
      <span class="font-semibold">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
    </div>

    <!-- Fila de movimientos mediante tutor -->
    <div *ngFor="let pokeMove of filteredMovesByEgg" >
      <div *ngFor="let detail of pokeMove.move.version_group_details" class="move-row">
        <div class="move-detail">
          <span class="move-label">{{ language === 'es' ? 'Movimiento' : 'Move' }}</span>
          <span class="move-value">{{ pokeMove.moveName }}</span>
        </div>
        <div class="move-detail">
          <span class="move-label">{{ language === 'es' ? 'Juego' : 'Game' }}</span>
          <span class="game-version rounded-md px-2 text-white text-center border border-black" [ngClass]="getGameVersionColor(detail.version_group.name)">
            {{ getGameName(detail.version_group.name) }}
          </span>
        </div>
        <div class="move-detail">
          <span class="move-label">{{ language === 'es' ? 'Tipo' : 'Type' }}</span>
          <span class="type border border-black rounded-md px-2 text-white text-center" [ngClass]="getColorClassByLanguageAndType(getTypeName(pokeMove), language)">
          {{ getTypeName(pokeMove) | titlecase }}
        </span>
      </div>
    </div>
  </div>
  </div>
</div>
